/* VARIABLES */
@keyframes icon-up {
  0% {
    font-size: 1em;
  }
  40% {
    font-size: 1em;
  }
  50% {
    font-size: 2em;
  }
  60% {
    font-size: 1em;
  }
  100% {
    font-size: 1em;
  }
}

/* FOOTER */
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 260px;
  background-color: #000000;
}

.footer .footer-container {
  display: flex;
  justify-content: space-between;
  padding: 2% 10%;
}

.footer .footer-container > div {
  flex-basis: 31%;
  margin: 0;
}

.footer .footer-container .footer-social-media {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: space-between;
}

.footer .footer-container .footer-social-media div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-basis: 90%;
  margin: 0;
}

.footer .footer-container .footer-social-media div a {
  margin: 0;
  text-decoration: none;
}

.footer .footer-container .footer-social-media div a:before {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  margin: 0;
  color: #FFFFFF;
  background-color: #373737;
  /*text-decoration: none;*/
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

.footer .footer-container .footer-social-media div a:hover:before {
  background-color: #D1AB82;
}

.footer .footer-container .footer-social-media p {
  margin: 0;
  font-weight: bold;
  color: #FFFFFF;
}

.footer .footer-container .footer-text {
  line-height: 1.4em;
  font-weight: 500;
  color: #AEAEAE;
}

.footer .footer-container .footer-subscribe {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  background-color: #373737;
  border-radius: 5px;
}

.footer .footer-container .footer-subscribe > form,
.footer .footer-container .footer-subscribe > div {
  flex-basis: 65%;
}

.footer .footer-container .footer-subscribe input {
  width: 100%;
  padding: 10px 0;
  border: none;
  border-bottom: 2px solid #AEAEAE;
  resize: none;
  text-transform: uppercase;
  background-color: #373737;
  margin-bottom: 30px;
}

.footer .footer-container .footer-subscribe input:focus {
  outline-style: none;
}

.footer .footer-container .footer-subscribe input::placeholder {
  font-family: 'Lato', sans-serif;
  text-align: center;
  color: #AEAEAE;
}

.footer .footer-container .footer-subscribe .subscribe-btn-container {
  text-align: center;
}

.footer .footer-container .footer-subscribe .subscribe-btn-container .subscribe-btn {
  width: 160px;
  height: 40px;
  background-color: #B28657;
  border: none;
  border-radius: 17px;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 900;
  font-size: .7em;
  letter-spacing: .1em;
  transition: all 0.2s ease-in-out;
}

.footer .footer-container .footer-subscribe .subscribe-btn-container .subscribe-btn:hover {
  cursor: pointer;
  background: #D1AB82;
}

.footer .footer-container .footer-subscribe .subscribe-btn-container .subscribe-btn:focus {
  outline-style: none;
}

.footer .btn-up i:before {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  color: #FFFFFF;
  background-color: #B28657;
  font-size: 1em;
  font-weight: 900;
  text-align: center;
  text-decoration: none;
  line-height: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  animation: icon-up 4s linear infinite;
  display: none;
}

.footer .btn-up i.active:before {
  display: block;
}

.footer .btn-up:hover i:before {
  background-color: #D1AB82;
}

/*# sourceMappingURL=footer.css.map */