/* VARIABLES */
@keyframes icon-up {
  0% {
    font-size: 1em;
  }
  40% {
    font-size: 1em;
  }
  50% {
    font-size: 2em;
  }
  60% {
    font-size: 1em;
  }
  100% {
    font-size: 1em;
  }
}

/* PROJECTS */
.projects {
  background: #F7F7F7;
  padding-bottom: 55px;
}

.projects .projects-head {
  padding: 40px 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.projects .projects-head p {
  padding-top: 10px;
  font-size: .8em;
  color: #AEAEAE;
}

.projects .projects-buttons {
  text-align: center;
  width: 720px;
  display: flex;
}

.projects .projects-btn {
  min-height: 58px;
  background-color: #CFCFCF;
  border: 1px solid #AEAEAE;
  padding: 0 1%;
  font-size: .9em;
  text-transform: uppercase;
  color: #373737;
  letter-spacing: .1em;
  flex: 1;
  transition: all 0.2s ease-in-out;
}

.projects .projects-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.projects .projects-btn:first-child {
  /*padding: 0 0 0 30px;*/
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.projects .projects-btn:last-child {
  /*padding: 0 30px 0 0;*/
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.projects .gallery {
  width: 100%;
  margin-top: 40px;
  padding: 0 10%;
}

.projects .gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.projects .gallery .gallery-layer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  position: absolute;
  top: 5px;
  left: 5px;
  transition: all .3s ease-in-out;
  text-align: center;
  color: #FFFFFF;
}

.projects .gallery .gallery-layer:hover {
  opacity: 1;
}

.projects .gallery .gallery-layer h2 {
  font-size: 1.1em;
  letter-spacing: .1em;
  flex-basis: 30%;
  text-transform: uppercase;
}

.projects .gallery .gallery-layer p {
  padding: 0 15%;
}

.projects .button-container {
  text-align: center;
}

.projects .button-container .btn-button-container {
  width: 160px;
  height: 40px;
  background-color: #B28657;
  border: none;
  border-radius: 17px;
  margin-top: 20px;
  margin-bottom: 0;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 900;
  font-size: .7em;
  letter-spacing: .1em;
  transition: all 0.2s ease-in-out;
}

.projects .button-container .btn-button-container:hover {
  cursor: pointer;
  background: #D1B18F;
}

@media (max-width: 1200px) {
  .projects .gallery .gallery-layer {
    font-size: .8em;
  }
}

@media (max-width: 1024px) {
  .projects .gallery .gallery-layer {
    font-size: .7em;
  }
}

@media (max-width: 825px) {
  .projects .projects-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25vw;
  }
  .projects .projects-buttons .projects-btn {
    width: 100%;
    padding: 0;
    border-radius: inherit;
  }
  .projects .gallery .gallery-layer {
    font-size: 1em;
  }
}

@media (max-width: 640px) {
  .projects .projects-buttons {
    width: 35vw;
  }
}

/*# sourceMappingURL=projects.css.map */