@import 'mixins.scss';

/* ABOUT */

.about {
    background: $backgroundColor;

    .about-head {
        padding: 40px 0;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
    }

    p {
        padding-top: 10px;
        font-size: .8em;
        color: $grey;
    }

    .about-content {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        padding-bottom: 8%;

        .about-text {
            flex-basis: 55%;
            padding-left: 10%;
            margin: 0 50px 0 0;
            line-height: 1.6;

            p {
                padding: 0;
                color: $grey;
                font-size: .9em;
            }

            .about-btn {
                @include goldButton(20px, 0);
            }
        }

        .about-video {
            flex-basis: 45%;
            text-align: center;
            padding-right: 10%;
            margin: 0;
        }

        .video {
            height: 100%;
            width: 100%
        }
    }
}

@media (max-width: 1200px) {
    .about {
        .about-content {

            .video {
                height: auto;
                width: auto;
            }
        }
    }
}

@media (max-width: 768px) {
    .about {
        margin-top: 65px;

        .about-content {
            display: block;
            padding-bottom: 0;

            .about-text {
                padding-left: 0;
                margin: 0 50px 40px 50px;
            }

            .about-video {
                padding-right: 0;
                margin-bottom: 40px;
            }

            .video {
                height: auto;
                width: 90%;
                /*max-width: 100%;*/
            }
        }
    }
}