@import 'mixins.scss';

/* CONTACT */

.contact {
    background-color: $backgroundColor;

    .contact-head {
        padding: 40px 0;
        text-align: center;
        text-transform: uppercase;

        p {
            font-weight: bold;
            padding-top: 10px;
            font-size: .8em;
            color: $grey;
        }
    }

    .contact-content {
        width: 40%;
        height: 40vh;

        .contact-form {
            display: flex;
            justify-content: space-between;
            align-content: space-between;
            flex-wrap: wrap;
            height: 100%;
            padding-top: 40px;

            .contact-form-input {
                flex-basis: 45%;
                margin: 0;

                &:nth-child(3) {
                    flex-basis: 100%;
                }

                &:nth-child(4) {
                    flex-basis: 100%;
                }

                input,
                textarea {
                    width: 100%;
                    padding: 10px 0;
                    border: none;
                    border-bottom: 2px solid $grey;
                    background-color: $backgroundColor;

                    &:focus {
                        outline-style: none;
                    }

                    &::placeholder {
                        font-family: 'Lato', sans-serif;
                        color: $grey;
                        text-transform: uppercase;
                    }
                }

                textarea {
                    margin-top: 30px;
                    height: 40px;
                }
            }
        }
    }

    .contact-btn-container {
        text-align: center;

        .contact-btn {
            @include goldButton(50px, 75px);
        }
    }
}

@media (max-width: 1200px) {

    .contact {

        .contact-content {

            width: 50vw;
        }
    }
}

@media (max-width: 1024px) {

    .contact {

        .contact-content {

            height: 60vh;

            .contact-form {
                flex-direction: column;
                flex-wrap: nowrap;

                .contact-form-input {
                    flex-basis: 100%;
                }
            }
        }
    }
}

@media (max-width: 825px) {

    .contact {

        .contact-content {

            width: 60vw;
        }
    }
}