@import 'mixins.scss';

/* CONTACT */

.contact {
    background-color: $backgroundColor;

    .contact-head {
        padding: 40px 0;
        text-align: center;
        text-transform: uppercase;

        p {
            font-weight: bold;
            padding-top: 10px;
            font-size: .8em;
            color: $grey;
        }
    }

    .contact-content {
        width: 40%;
        height: 260px;

        .contact-form {
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-content: space-between;
            flex-wrap: wrap;
            padding-top: 40px;

            .contact-form-input {
                flex-basis: 45%;
                margin: 0;

                &:nth-child(3) {
                    flex-basis: 100%;
                }

                &:nth-child(4) {
                    flex-basis: 100%;
                }

                input,
                textarea {
                    width: 100%;
                    padding: 10px 0;
                    border: none;
                    border-bottom: 2px solid $grey;
                    resize: none;
                    text-transform: uppercase;
                    background-color: $backgroundColor;

                    &:focus {
                        outline-style: none;
                    }

                    &::placeholder {
                        font-family: 'Lato', sans-serif;
                        color: $grey;
                    }
                }

                textarea {
                    margin-top: 30px;
                    height: 40px;
                }
            }
        }
    }

    .contact-btn-container {
        text-align: center;

        .contact-btn {
            @include goldButton(50px, 75px);
        }
    }
}