@import 'mixins.scss';

/* FACTS */

.facts {
    background-color: $black;
    padding-bottom: 70px;

    .facts-head {
        padding: 40px 0;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;

        h2 {
            color: $white;
        }

        p {
            padding-top: 10px;
            font-size: .8em;
            color: $grey;
        }
    }

    .facts-content {
        color: $white;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0 10%;
        text-align: center;

        .facts-content-box {
            flex-basis: 15%;
            line-height: 1.6;

            .facts-data {
                height: 100px;

                .number {
                    color: $gold;
                    font-size: 35px;
                    font-weight: 900;
                }

                h4 {
                    text-transform: uppercase;
                    position: relative;

                    &::before {
                        content: '';
                        position: absolute;
                        width: 20px;
                        left: calc(50% - 10px);
                        top: -3px;
                        height: 3px;
                        background-color: $grey;
                    }
                }
            }

            p.facts-text {
                color: $grey;
                font-size: .7em;
                padding-top: 20px;
            }
        }
    }
}

@media (max-width: 1200px) {

    .facts {

        .facts-content {

            .facts-content-box {
                flex-basis: 20%;
            }
        }
    }
}

@media (max-width: 1024px) {

    .facts {

        .facts-content {

            .facts-content-box {
                flex-basis: 34%;
                padding: 20px 20px;
                ;
            }
        }
    }
}

@media (max-width: 825px) {

    .facts {

        .facts-content {

            .facts-content-box {
                padding: 20px 0;
                ;
            }
        }
    }
}

@media (max-width: 640px) {

    .facts {

        .facts-content {

            .facts-content-box {
                padding: 20px 0;
            }
        }
    }
}