@import 'mixins.scss';

/* HEADER */

header {
    background: $black;
    height: 65px;

    .container-nav {
        margin-top: 0;
        padding: 0 10%;
    }

    .container {
        width: 100%;
        max-width: 1300px;

        ul {
            list-style-type: none;
            float: right;
            overflow: hidden;

            li {
                display: inline-block;

                a {
                    position: relative;
                    text-decoration: none;
                    text-transform: uppercase;
                    display: block;
                    line-height: 65px;
                    padding: 0 10px;
                    color: $white;
                    font-size: .8em;
                    font-weight: 999;
                    word-spacing: .2em;
                    transition: $transition;

                    &::before {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 0;
                        height: 3px;
                        background-color: $gold;
                        transition: $transition;
                    }

                    &:hover {
                        background-color: #2C2A2A;
                    }

                    &:hover {
                        &::before {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1200px) {

    header {

        .container-nav {
            padding: 0;
        }

        .container {
            height: 100%;

            img {
                display: none;
            }

            ul {
                height: 100%;
                width: 100%;
                text-align: center;

                li {

                    a {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {

    header {
        height: auto;

        .container-nav {}

        .container {

            img {}

            ul {
                float: none;

                li {
                    display: block;

                    a {
                        padding: 0;
                    }
                }
            }
        }
    }
}