@import 'mixins.scss';

/* HERO */

.hero {
    height: 100vh;
    background: url('../images/hero_background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    .layer {
        @include flexCenter(row);
        height: 100%;
        text-transform: uppercase;

        .slogan {
            color: $white;
            font-weight: 900;
            text-align: center;

            h1 {
                font-size: 4em;

                span {
                    color: $gold;
                }
            }

            p {
                margin-top: 8px;
                letter-spacing: .1em;
            }

            .btn-hero {
                @include goldButton(40px, 0);
            }
        }
    }
}

@media (max-width: 825px) {

    .hero {

        .layer {
            @include flexAround(row);
            transition: .3s;

            &.move {
                padding-top: 225px;
            }

            .slogan {

                h1 {
                    font-size: 2em;
                }
            }

        }
    }
}