@import 'mixins.scss';

/* HERO */

.hero {
    height: 600px;
    background: url('../images/hero_background.png');
    background-size: cover;
    background-position: center;

    .layer {
        @include flexCenter(row);
        height: 600px;
        text-transform: uppercase;

        .slogan {
            color: $white;
            font-weight: 900;
            text-align: center;

            h1 {
                font-size: 4em;

                span {
                    color: $gold;
                }
            }

            p {
                margin-top: 8px;
                letter-spacing: .1em;
            }

            .btn-hero {
                @include goldButton(40px, 0);
            }
        }
    }
}

@media (max-width: 768px) {

    .hero {
        height: 400px;

        .layer {
            height: 400px;

            .slogan {

                h1 {
                    font-size: 2em;
                }
            }

        }
    }
}