/* PREMIUM */

.premium {
    background: #FFFFFF;
    border-top: 1px solid #CFCFCF;

    .premium-head {
        padding: 40px 0;
        text-align: center;
        text-transform: uppercase;

        p {
            font-weight: bold;
            padding-top: 10px;
            font-size: .8em;
            color: #AEAEAE;
        }
    }

    .premium-container {
        /*display: inline-block;*/
        display: flex;
        flex-direction: row;
        margin: 0 10%;
        border-bottom: 1px solid #CFCFCF;

        .premium-image {
            flex: 5;
        }

        .premium-container-features {
            /*display: inline-block;*/
            flex: 5;
            padding-top: 40px;
            line-height: 1.7em;

            div:nth-of-type(2) {
                margin: 20px 0;
            }

            h3 {
                text-transform: uppercase;
                font-size: 1.2em;
                font-weight: 900;
                letter-spacing: 1px;
            }

            p {
                padding-left: 64px;
                font-size: 17px;
                color: #8F8F8F;
            }

            ul {
                list-style-type: none;
                padding-left: 64px;
                color: #8F8F8F;
            }

            li {
                padding-left: 20px;
                text-transform: uppercase;

                &::before {
                    content: '';
                    position: absolute;
                    left: 54.8%;
                    margin-top: 14px;
                    width: 13px;
                    height: 1px;
                    background: #8F8F8F;
                }
            }

            .premium-icon {
                float: left;
                padding-right: 30px;
            }
        }
    }

    .premium-btn-container {
        text-align: center;

        .premium-btn {
            width: 160px;
            height: 40px;
            background: #B28657;
            border: none;
            border-radius: 17px;
            margin: 50px 0 75px 0;
            /*90px 0 60px 0;*/
            text-transform: uppercase;
            color: #FFFFFF;
            font-weight: 900;
            font-size: .7em;
            letter-spacing: .1em;

            &:hover {
                cursor: pointer;
                background: #F7F7F7;
                color: #B28657;
                border: 2px solid #B28657;

            }

            &:focus {
                outline-style: none;
            }
        }
    }
}