@import 'mixins.scss';

/* PRICE */

.price {
    min-height: 90vh;
    background: $backgroundColor;

    .price-head {
        padding: 40px 0;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;

        p {
            padding-top: 10px;
            font-size: .8em;
            color: $grey;
        }
    }

    .price-container {
        @include flexBetween(row);
        width: 100%;
        margin: 10px 0;
        padding: 0 10%;

        .price-card {
            @include flexBetween(column);
            width: 245px;
            height: 345px;
            padding: 35px 0;
            margin: 0;
            background-color: $white;
            text-align: center;

            p {
                font-size: 1em;
                text-transform: uppercase;
                padding-bottom: 10px;
            }

            span {
                text-transform: uppercase;
                font-size: .7em;
                color: $grey;
            }

            .price-card-list {
                list-style-type: none;
                color: $grey;
                position: relative;

                li {
                    font-size: .8em;
                    line-height: 2.1em;

                    &::before {
                        content: '';
                        position: absolute;
                        left: 47.5%;
                        width: 5%;
                        height: 1px;
                        background: $grey;
                    }

                    &:first-child {
                        &::before {
                            content: '';
                            display: none;
                        }
                    }
                }
            }

            .price-card-btn {
                width: 130px;
                height: 40px;
                background: $grey;
                border: none;
                border-radius: 17px;
                /*margin-top: 20px;*/
                text-transform: uppercase;
                color: $white;
                font-weight: 900;
                font-size: .7em;
                letter-spacing: .1em;
                transition: $transition;

                &:hover {
                    cursor: pointer;
                    background: $goldHover;
                }

                &:focus {
                    outline-style: none;
                }
            }
        }
    }
}