@import 'mixins.scss';

/* PROJECTS */

.projects {
    background: $backgroundColor;
    padding-bottom: 55px;

    .projects-head {
        padding: 40px 0;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;

        p {
            padding-top: 10px;
            font-size: .8em;
            color: $grey;
        }
    }

    .projects-buttons {
        text-align: center;
        width: 720px;
        display: flex;
    }

    .projects-btn {
        min-height: 58px;
        background-color: $borderColor;
        border: 1px solid $grey;
        padding: 0 1%;
        font-size: .9em;
        text-transform: uppercase;
        color: $darkGrey;
        letter-spacing: .1em;
        position: relative;
        flex: 1;

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            transform: scale(0);
            height: 3px;
            background-color: $gold;
            transition: $transition;
        }

        &:hover {
            cursor: pointer;

            &::before {
                transform: scale(1);
            }

            &:focus {
                outline-style: none;
            }
        }

        &:first-child {
            padding: 0 0 0 30px;
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;

            &::before {
                left: 25%;
                width: 75%;
            }
        }

        &:last-child {
            padding: 0 30px 0 0;
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;

            &::before {
                width: 75%;
            }
        }
    }

    .gallery {
        width: 100%;
        margin-top: 40px;
        padding: 0 10%;

        .gallery-layer {
            width: 255px;
            height: 165px;
            background-color: rgba(0, 0, 0, 0.5);
            opacity: 0;
            position: absolute;
            top: 7px;
            left: 7px;
            transition: all .3s ease-in-out;
            text-align: center;
            color: $white;

            &:hover {
                opacity: 1;
            }

            h2 {
                font-size: 1.1em;
                letter-spacing: .1em;
                padding-top: 40px;
                text-transform: uppercase;
            }

            p {
                padding: 15px 45px 0 45px;
                line-height: 20px;
            }
        }
    }

    .button-container {
        text-align: center;

        .btn-button-container {
            @include goldButton(20px, 0);
        }
    }
}