@import 'mixins.scss';

/* PROJECTS */

.projects {
    background: $backgroundColor;
    padding-bottom: 55px;

    .projects-head {
        padding: 40px 0;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;

        p {
            padding-top: 10px;
            font-size: .8em;
            color: $grey;
        }
    }

    .projects-buttons {
        text-align: center;
        width: 720px;
        display: flex;
    }

    .projects-btn {
        min-height: 58px;
        background-color: $borderColor;
        border: 1px solid $grey;
        padding: 0 1%;
        font-size: .9em;
        text-transform: uppercase;
        color: $darkGrey;
        letter-spacing: .1em;
        flex: 1;
        transition: $transition;

        &:hover {
            cursor: pointer;
            transform: scale(1.1);
        }

        &:first-child {
            /*padding: 0 0 0 30px;*/
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;
        }

        &:last-child {
            /*padding: 0 30px 0 0;*/
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;
        }
    }

    .gallery {
        width: 100%;
        margin-top: 40px;
        padding: 0 10%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }

        .gallery-layer {
            @include flexCenter(column);
            width: calc(100% - 10px);
            height: calc(100% - 10px);
            background-color: rgba(0, 0, 0, 0.5);
            opacity: 0;
            position: absolute;
            top: 5px;
            left: 5px;
            transition: all .3s ease-in-out;
            text-align: center;
            color: $white;

            &:hover {
                opacity: 1;
            }

            h2 {
                font-size: 1.1em;
                letter-spacing: .1em;
                flex-basis: 30%;
                text-transform: uppercase;
            }

            p {
                padding: 0 15%;
            }
        }
    }

    .button-container {
        text-align: center;

        .btn-button-container {
            @include goldButton(20px, 0);
        }
    }
}

@media (max-width: 1200px) {

    .projects {

        .gallery {

            .gallery-layer {
                font-size: .8em;
            }
        }
    }
}

@media (max-width: 1024px) {

    .projects {

        .gallery {

            .gallery-layer {
                font-size: .7em;
            }
        }
    }
}

@media (max-width: 825px) {

    .projects {

        .projects-buttons {
            @include flexCenter(column);
            width: 25vw;

            .projects-btn {
                width: 100%;
                padding: 0;
                border-radius: inherit;
            }
        }

        .gallery {

            .gallery-layer {
                font-size: 1em;
            }
        }
    }
}

@media (max-width: 640px) {

    .projects {

        .projects-buttons {
            width: 35vw;
        }
    }
}