@import 'mixins.scss';

/* SERVICES */

.services {
    background: $black;
    padding-bottom: 55px;

    .services-head {
        padding: 40px 0;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;

        h2 {
            color: $white;
        }

        p {
            padding-top: 10px;
            font-size: .8em;
            color: $grey;
        }
    }

    .services-content {
        color: $white;
        display: flex;
        flex-direction: row;
        padding: 0 10%;
        text-align: center;

        .services-content-box {
            flex: 1;
            padding: 2% 0;
            border-right: 1px solid $grey;

            &:first-child {
                border-left: 1px solid $grey;
            }

            .services-icon {
                height: 100px;

                img {
                    width: 23%;
                }
            }

            .services-text {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 50%;
                line-height: 1.6;
                padding: 0 10%;

                h4 {
                    text-transform: uppercase;
                }

                p {
                    color: $grey;
                    font-size: .7em;
                }
            }
        }
    }
}