/* ZEROWANIE STYLÓW DOMYŚLNYCH*/

* {
	box-sizing: border-box;
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Lato', sans-serif;
	/*padding: 0;*/
	/*border: 1px solid red;*/
}

body {
	background: #0E0E0E;

	.main {
		background: #C0C0C0;
		width: 1300px;

		header {
			background: #000;
			height: 80px;

			.container {
				/*background: #DADADA;*/
				width: 100%;
				max-width: 1300px;
				margin: 50px auto;

				img {

				}

				ul {
					list-style-type: none;
					float: right;
					margin-right: 10%;
					li {
						display: inline-block;	
						a {
							text-decoration: none;
							text-transform: uppercase;
							display: block;
							line-height: 80px;
							color: #fff;
							font-size: 0.8em;
							font-weight: 999;
							letter-spacing: .1em;
						}
					}

				}
			}

			.container-nav {
				margin-top: 0;
			}
		}
	}
}