@import 'mixins.scss';

/* TEAM */

.team-background {
    min-height: 100vh;
    background: url('../images/our_team_background-awax.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    .team-head {
        padding: 40px 0;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;

        h2 {
            color: $white;
        }

        p {
            padding-top: 10px;
            font-size: .8em;
            color: $grey;
        }
    }

    .team-container {
        @include flexBetween(row);
        width: 100%;
        margin: 10px 0 0;
        padding: 0 10%;

        .team-card {
            height: 430px;
            margin: 0;
            background-color: $white;
            text-align: center;

            .team-img {
                margin: 50px auto 30px auto;
            }

            h3 {
                text-transform: uppercase;
                font-size: 1.3em;
                letter-spacing: .1em;
                line-height: 40px;
            }
        }

        .team-icons {
            @include flexBetween(row);
            margin: 25px 25px 0 25px;

            a {
                margin: 0 1px;
                text-decoration: none;

                &:before {
                    @include flexCenter(row);
                    width: 35px;
                    height: 35px;
                    margin: 0;
                    color: $white;
                    background-color: $iconColor;
                    border-radius: 50%;
                    transition: $transition;
                }

                &:hover {
                    &:before {
                        background: $goldHover;
                    }
                }
            }
        }
    }
}

@media (max-width: 1200px) {

    .team-background {

        .team-container {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            align-content: space-around;

            .team-card {
                margin-bottom: 50px;
            }
        }
    }
}