@import 'mixins.scss';

/* TELL_ABOUT */

.tell_about {
    height: 75px;
    background-color: $white;
    border-bottom: 1px solid $borderColor;

    .tell_about-content {
        display: flex;
        justify-content: space-between;
        width: 45%;
        height: 100%;
        margin: 0 auto;

        .tell_about-text {
            line-height: 75px;
            margin: 0;

            img {
                transform: translateY(25%);
            }

            p {
                font-size: .8em;
                color: $grey;
                text-transform: uppercase;
                font-weight: bold;
                float: right;
                margin-left: 10px;
            }
        }
    }

    .tell_about-social-media {
        @include flexAround(row);
        flex-basis: 70%;
        margin: 0;

        a {
            text-decoration: none;

            &:before {
                @include flexCenter(row);
                width: 35px;
                height: 35px;
                margin: 0;
                color: $white;
                transition: $transition;
            }

            &:nth-child(1) {
                &:before {
                    border-radius: 50%;
                    background-color: $twitterColor;
                }

                &:hover {
                    &:before {
                        color: $twitterColor;
                        background-color: $white;
                        box-shadow: 0 0 1px 1px $twitterColor;
                    }
                }
            }

            &:nth-child(2) {
                &:before {
                    border-radius: 50%;
                    background-color: $linkedinColor;
                }

                &:hover {
                    &:before {
                        color: $linkedinColor;
                        background-color: $white;
                        box-shadow: 0 0 1px 1px $twitterColor;
                    }
                }
            }

            &:nth-child(3) {
                &:before {
                    border-radius: 50%;
                    background-color: $facebookColor;
                }

                &:hover {
                    &:before {
                        color: $facebookColor;
                        background-color: $white;
                        box-shadow: 0 0 1px 1px $facebookColor;
                    }
                }
            }

            &:nth-child(4) {
                &:before {
                    border-radius: 50%;
                    background-color: $googleColor;
                }

                &:hover {
                    &:before {
                        color: $googleColor;
                        background-color: $white;
                        box-shadow: 0 0 1px 1px $googleColor;
                    }
                }
            }

            &:nth-child(5) {
                &:before {
                    border-radius: 50%;
                    background-color: $pinterestColor;
                }

                &:hover {
                    &:before {
                        color: $pinterestColor;
                        background-color: $white;
                        box-shadow: 0 0 1px 1px $pinterestColor;
                    }
                }
            }
        }
    }
}