@import 'mixins.scss';

/* TELL_ABOUT */

.tell_about {
    height: 75px;
    background-color: $white;
    border-bottom: 1px solid $borderColor;

    .tell_about-content {
        display: flex;
        justify-content: space-between;
        width: 45%;
        height: 100%;
        margin: 0 auto;

        .tell_about-text {
            line-height: 75px;
            margin: 0;

            img {
                transform: translateY(25%);
            }

            p {
                font-size: .8em;
                color: $grey;
                text-transform: uppercase;
                font-weight: bold;
                float: right;
                margin-left: 10px;
            }
        }
    }

    .tell_about-social-media {
        display: flex;
        flex-basis: 70%;
        justify-content: space-around;
        align-items: center;
        margin: 0;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 35px;
            height: 35px;
            text-decoration: none;
            border-radius: 50%;
            transition: $transition;

            &:nth-child(1) {
                background-color: $twitterColor;

                &:hover {
                    background-color: $white;
                    box-shadow: 0 0 1px 1px $twitterColor;
                }
            }

            &:nth-child(2) {
                background-color: $linkedinColor;

                &:hover {
                    background-color: $white;
                    box-shadow: 0 0 1px 1px $linkedinColor;
                }
            }

            &:nth-child(3) {
                background-color: $facebookColor;

                &:hover {
                    background-color: $white;
                    box-shadow: 0 0 1px 1px $facebookColor;
                }
            }

            &:nth-child(4) {
                background-color: $googleColor;

                &:hover {
                    background-color: $white;
                    box-shadow: 0 0 1px 1px $googleColor;
                }
            }

            &:nth-child(5) {
                background-color: $pinterestColor;

                &:hover {
                    background-color: $white;
                    box-shadow: 0 0 1px 1px $pinterestColor;
                }
            }
        }
    }
}